body {
  background-color: aquamarine;
  color: blue;
  border-radius: 2px solid black;
  line-height:1.5;
}
.div1 {
  background-color: brown;
  width: 200px;
  height: 200px;
}
.div2 {
  background-color: aquamarine;
  width: 300px;
  border-radius: 2px solid blue;
  height: 200px;
}
